@{ ViewData["Title"] = "E-posta Doğrulama"; }
<div class="text-center">
    <h1 class="text-2xl font-bold">E-posta Doğrulama Sonucu</h1>
    <p class="mt-4">@ViewBag.Message</p>

    @if (ViewBag.Message.Contains("başarıyla doğrulandı"))
    {
        <a asp-action="Login" asp-controller="Account" class="inline-block bg-blue-600 text-white hover:bg-blue-700 font-bold py-2 px-5 rounded-lg transition-all duration-300 transform hover:scale-105 shadow-md mt-4">Giriş Yap</a>
    }
</div>