# Visual Studio / .NET
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Logs
*.log

